    <footer class="page-footer orange">
      <div class="container">
        <div class="row">
          <div class="col l6 s12">
            <h5 class="white-text">About</h5>
            <p class="grey-text text-lighten-4">ProgramX is an organization space for software engineers and artists, based in Islamabad, Pakistan. We provide software solutions and products to you. For orders, kindly contact us.</p>
          </div>
          <div class="col l3 s12">
            <h5 class="white-text">Links</h5>
            <ul>
              <li><a class="white-text" href="/about/">About</a></li>
              <li><a class="white-text" href="/contact/">Contact</a></li>
              <li><a class="white-text" href="/products/">Products</a></li>
              <li><a class="white-text" href="/services/">Services</a></li>
            </ul>
          </div>
          <div class="col l3 s12">
            <h5 class="white-text">Connect</h5>
            <ul>
              <li><a class="white-text" href="https://github.com/programx">GitHub</a></li>
              <li><a class="white-text" href="mailto:hello.programx@gmail.com">Email</a></li>
            </ul>
          </div>
        </div>
      </div>
      <div class="footer-copyright">
        <div class="container">
          Made by <a href="https://github.com/mujtaba-io/" style="color:white; font-weight: bold;">Mujtaba</a>, Founder of ProgramX
        </div>
      </div>
    </footer>