<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0"/>
    <title>ProgramX</title>
    {% include _global.html %}
  </head>
  <body>
  {% include _navbar.html %}
    <div class="section no-pad-bot" id="index-banner">
      <div class="container">
        <br><br>
        <h1 class="header center orange-text">Welcome to ProgramX</h1>
        <div class="row center">
          <h5 class="header col s12 light">ProgramX Team develops your software and sells software products</h5>
        </div>
        <div class="row center">
          <a href="/services/" class="btn-large waves-effect waves-light orange">Get Started</a>
        </div>
        <br><br>
      </div>
    </div>
    <div class="container">
      <div class="section">
        <!--   Icon Section   -->
        <div class="row">
          <div class="col s12 m4">
            <div class="icon-block">
              <h2 class="center indigo-text"><i class="material-icons">flash_on</i></h2>
              <h5 class="center">Speedy Development</h5>
              <p class="light">Our highly skilled team of engineers and artists are driven by a sense of urgency to rapidly deliver practical software solutions for you. Just share your requirements, and we'll embark on a swift development journey to meet your needs in no time.</p>
            </div>
          </div>
          <div class="col s12 m4">
            <div class="icon-block">
              <h2 class="center indigo-text"><i class="material-icons">group</i></h2>
              <h5 class="center">User Experience Focused</h5>
              <p class="light">At the core of our approach lies a profound understanding of your need for an exceptional user experience. It is, without a doubt, our utmost priority to ensure that every aspect of our work revolves around delivering a seamless and satisfying user experience for you.</p>
            </div>
          </div>
          <div class="col s12 m4">
            <div class="icon-block">
              <h2 class="center indigo-text"><i class="material-icons">settings</i></h2>
              <h5 class="center">Easy to Work With</h5>
              <p class="light">Our commitment to accommodating diverse budgets is unwavering, and we take pride in delivering exceptional value, irrespective of your financial constraints. Our pricing ranges from as low as $5, reaching all the way up to $10,000, while never compromising on the quality we provide at every level of engagement.</p>
            </div>
          </div>
        </div>
      </div>
    </div>

  <div class="container">
    {{ content }}
  </div>
    {% include _footer.html %}
  </body>
</html>
