<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0"/>
    <title>Blog Posts</title>
    {% include _global.html %}
  </head>
  <body>
  {% include _navbar.html %}

    <div class="container">
      <br>
        <a href="javascript:history.back()" class="right"><b>BACK</b></a>
    </div>


<div class="container">
    <h2>Blog Posts</h2>
          <div class="col s12 m7">
    {% for post in site.posts %}
      <div class="collection">
        <a href="{{ post.url }}" class="collection-item"><b>{{ post.title }}</b></a>
      </div>
    {% endfor %}
  </div>
</div>

    {% include _footer.html %}
  </body>
</html>
